<html>

<head>
    <link rel="stylesheet" type="text/css" href="css/fj.css">
    <script src="js/react.js"></script>
    <script src="js/JSXTransformer.js"></script>
    <script type="text/jsx" src="js/react_example.js"></script>
    <title>
        <%- locals.title%>
    </title>
</head>

<body>
    <h3>Index page of my koa server</h3>
    <h2 id ="react">If you see this then react is not running!</h2>
    <p class="show_me_tag">body starts</p>
    <%- body %>
        <p class="show_me_tag">body ends</p>
</body>

</html>
