<ul>
    <li>
        <%=: detail.first_name %>&nbsp;
            <%=: detail.last_name %>
    </li>
    <li>
        <%=: detail.email %>
    </li>
    <li>
        <%=: detail.street %>
    </li>
    <li>
        <%=: detail.city %>
    </li>
    <li>
        <%=: detail.state %>
    </li>
    <li>
        <%=: detail.zip %>
    </li>
    <li>
        <%=: detail.phone %>
    </li>
    <li>
        <%=: detail.birth_date %>
    </li>
    <li>
        <%=: detail.sex %>
    </li>
</ul>
<a href="/">Back to home page</a>
